/* General navbar styles */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); /* Transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 1px;
    z-index: 1000;

  }

  /* Container for navbar content */
  .container {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.9); Example background color with opacity */
    z-index: 1000; /* Adjust z-index as needed */
    padding-left: 20rem; /* Example padding */
  }

  /* Navigation items */
  .nav-items {
    display: flex;
    /* text-decoration: none; */
  justify-content: center;
  align-items: center;  
    gap: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Link styles */
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  /* Active link style */
  .nav-link.active {
    color: rgb(183, 224, 245); /* Active link color */
  }

  /* Hover effect for links */
  .nav-link:hover {
    color: #7369f3; /* Hover color */
  } 

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .nav-items {
      flex-direction: column;
      align-items: center;
    }

    .navbar {
      flex-direction: column;
      padding: 20px;
    }

    .nav-link {
      margin: 5px 0;
    }
  }
